<div class="container">
    <div class="row">
        <div class="col-md-6">
<h2>Post an image</h2>
<form data-request="onSave" data-request-files data-request-flash enctype="multipart/form-data">

    <input type="hidden" name="_handler" value="onSave">
    {{ form_token() }}
    {{ form_sessionKey() }}
    <input type="text" name="uploader" value="{{user.name}}" hidden>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Caption</label>
    <div class="col-sm-10">
    	<input type="textarea" size="large" name="caption">
	</div>
	</div>

	<div class="form-group row">
    <label class="col-sm-2 col-form-label">Image</label>
    <div class="col-sm-10">
    	<input type="file" id="image" name="image" accept="image/*" data-request="onImageUpload" data-request-files data-request-flash>
    </div>
	</div>

    <br><br>
    <button type="submit">Save post</button>

    {% flash success %}
    	<p>{{ message }}</p>
    {% endflash %}

</form>
</div></div></div>