title = "Home"
url = "/:page?"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "F83\Lykeagram\Models\Post"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "uploader"
noRecordsMessage = "No records found"
detailsPage = "post-single"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 10
pageNumber = "{{ :page }}"
sortColumn = "created_at"
sortDirection = "desc"

[session]
security = "all"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="container">
<div class="row">
    {% for record in records %}
    {# Use spaceless tag to remove spaces inside the A tag. #}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
            <a href="./post/{{ record.slug }}">
  				<img class="card-img-top" src="storage/app/media/{{ record.image }}" alt="{{ record.uploader }}">
  			</a>
  			<div class="card-body">
    			<h5 class="card-title">{{ record.caption }}</h5>
    			<p class="card-text">by {{ record.uploader }}</p>
  			</div>
		</div>
        </div>
    {% else %}
    	<p>{{ noRecordsMessage }}</p>
    {% endfor %}
</div>
</div>



<div>
    {{records.render|raw}}
</div>