title = "Login/Register"
url = "/login"
layout = "default"
is_hidden = 0

[account]
redirect = "home"
paramCode = "code"
forceSecure = 0
==
{% if not user %}

    <div class="container">
    <div class="row">

        <div class="col-md-6">
            <h3>Login</h3>
            {% partial account ~ '::signin' %}
        </div>

        <div class="col-md-6">
            <!-- <h3>Register</h3> -->
            {% partial account ~ '::register' %}
        </div>

    </div>
    </div>

{% else %}



{% endif %}