title = "Post Detail"
url = "/post/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "F83\Lykeagram\Models\Post"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "caption"
notFoundMessage = "Record not found"

[session]
security = "all"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
    			<img src="../storage/app/media/{{ record.image }}" alt="{{ record.uploader }}">
    			<h2>{{ record.caption|raw }}</h2>
    			<p>Uploaded by: {{ record.uploader }}</p>
			</div>
		</div>
	</div>

{% else %}
    {{ notFoundMessage }}
{% endif %}